extends _tpl/_base.pug
block css
    +css(['index'])
    link(rel='stylesheet', href='assets/plugins/swiper/swiper.min.css')

block js
    script(src='assets/plugins/swiper/swiper.min.js')

block cc
    .box 这块机械厂